%h2 Edit journey
%p
  #{@event.event_date} at
  #{@event.event_time.strftime("%H:%M")} ::
  %b= @event.title 

= form_for(@occupant) do |f|

  - if @occupant.errors.any?
    #error_explanation
      %h2
        = pluralize(@occupant.errors.count, "error")
        prohibited this occupant from being saved:

      %ul
        - @occupant.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :event_id
  = f.hidden_field :user_id
  .field
    = f.label :status
    %br/
    = f.select :status, Occupant::STATUS_TYPES
  .field
    = f.label :remarks
    %br/
    = f.text_area :remarks, :rows => 2
  .actions
    = f.submit "Save"

= link_to 'Show', @occupant
|
= link_to 'Back', occupants_path
