.schoolrun_form
  - if flash[:alert]
    %p#notice= flash[:alert]


  = form_for(@user) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    -# if admin, we allow access to all the fields
    - if @is_admin
      %fieldset
        %legend Enter User Details
        .field
          = f.label :name, "Username" 
          = f.text_field :name
        .field
          = f.label :first_name
          = f.text_field :first_name
        .field
          = f.label :surname
          = f.text_field :surname
        .field
          = f.label :role
          = f.select :role, User::ROLE_TYPES
        .field
          = f.label :password, 'New Password'
          = f.password_field :password, :size => 40
        .field
          = f.label :password_confirmation, 'Confirm'
          = f.password_field :password_confirmation, :size => 40
        .field
          =f.label :change_password, 'Change pw'
          =f.check_box :change_password
        .field
          = f.label :email
          = f.text_field :email
        .field
          = f.label :facebook_id, "Facebook ID"
          = f.text_field :facebook_id
        .actions
          = f.submit
    - else
      -# otherwise display only
      %dl
        %dt Username
        %dd= @user.name
        %dt Name
        %dd #{@user.first_name} #{@user.surname}
        %dt Role
        %dd= @user.role
      %fieldset
        %legend Update your details
        .field
          = f.label :password, 'New Password'
          = f.password_field :password, :size => 40
        .field
          = f.label :password_confirmation, 'Confirm'
          = f.password_field :password_confirmation, :size => 40
        .field
          = f.label :email
          = f.text_field :email
        .field
          = f.label :facebook_id, "Facebook ID"
          = f.text_field :facebook_id
        .actions
          = f.submit

%p Note: Facebook ID allows profile picture to be picked up from Facebook

