#overlay1.event-overlay
  .contentWrap

.event-table
  %table.list-table
    %tr.list-header
      %th.list-cell Date
      %th.list-cell Title
      %th.list-cell Description
      %th.list-cell Location
      %th.list-cell Occupants
      %th.list-cell Drivers


    - @events.each do |event|
      %tr{:valign => "top", :class => cycle('list-line-odd', 'list-line-even')}
        - cache "event-#{event.id}", :expires_in => 8.hours do
          %td.list-cell
            = event.event_date.strftime("%a\n%e-%m-%Y")
          %td.list-cell
            != link_to event.title, event_path(event)
            - if !event.event_comments.empty?
              %br/
              = link_to "Comment",event_event_comments_path(event),
                {:rel => "#overlay1", :class => "annotation",
                :style => "text-decoration:none"}
          %td.list-cell= truncate(event.description,:length => 40)
          %td.list-cell
            <b>#{event.to_from}</b> #{event.location}
            %br/
            = event.event_time.strftime("%H:%M") if event.event_time
            &nbsp;
          %td.list-cell
            = render(event.occupants)
          %td.list-cell
            = render(event.drivers)

  %span.annotation
    T = Tentative
= will_paginate @events
%br/
= link_to 'New Event', new_event_path 


