-#
  index.html - displays table with summary listing of all events. Provides link to individual events to allow further
  information to be displayed/manlipulated.
  This is effectively the main screen of the application.

-# setup jquery popup box for the event comments
#overlay1.event-overlay
  .contentWrap

.event-table
  %table.list-table
    %tr.list-header
      %th.list-cell Date
      %th.list-cell Event
      %th.list-cell Location
      %th.list-cell Occupants
      %th.list-cell Drivers


    - @events.each do |event|
      -# loop through the events, one row for each event. each event is cached as a fragment
      %tr{:valign => "top", :class => [cycle('list-line-odd', 'list-line-even'),  event.cancelled? && "cancelled"]}
        - cache "event-#{event.id}", :expires_in => 8.hours do
          %td.list-cell
            != event.event_date.strftime("%a<br>%e-%m-%Y")
          %td.list-cell
            != ">>" if event.to_from == "To"
            != link_to event.title, event_path(event)
            != ">>;" if event.to_from == "From"
            %br/
            = truncate(event.description,:length => 50)
            - if !event.event_comments.empty?
              -#
                if there is a comment aganist this event, show the start the last comment, the number of comments
                if more than one, and make a link to the popup box. popup box uses jquery
              %br/
              = link_to truncate(event.event_comments.last.comment, :truncate => 40),
                event_event_comments_path(event),
                {:rel => "#overlay1", :class => "annotation",
                :style => "text-decoration:none"}
              %span.annotation= "(#{event.event_comments.count}) " if event.event_comments.count > 1
          %td.list-cell
            <b>#{event.to_from}</b> #{event.location}
            %br/
            = event.event_time.strftime("%H:%M") if event.event_time
            &nbsp;
          %td.list-cell
            = render(event.occupants.order("created_at"))
          %td.list-cell
            = render(event.drivers.order("created_at"))

  %span.annotation
    T = Tentative
= will_paginate @events
%br/
= link_to 'New Event', new_event_path 


