-#%h1 Events

-# flag = 0
  - if flag
    %h3 params
    = debug(params)
    %h3 session
    = debug(session)
    -#%h3 respose
    -#= debug(response)
    %h3 User
    Name: #{@user.name}; Role: #{@user.role}

.event-table
  %table.list-table
    %tr.list-header
      %th.list-cell Title
      %th.list-cell Description
      %th.list-cell Location
      %th.list-cell Date/Time
      -#%th.list-cell Status
      %th.list-cell Occupants
      %th.list-cell Drivers
      %th.lsit-cell Action

    - @events.each do |event|
      %tr{:valign => "top", :class => cycle('list-line-odd', 'list-line-even')}
        %td.list-cell= link_to event.title, event_path(event)
        %td.list-cell= truncate(event.description,:length => 30)
        %td.list-cell #{event.to_from} #{event.location}
        %td.list-cell
          = event.event_date
          %br/
          = event.event_time.strftime("%H:%M")
        -#%td.list-cell= event.status
        %td.list-cell
          = render(event.occupants)
        %td.list-cell
          = render(event.drivers)
        %td.list-cell
          - if @user.role == "Student"
            = link_to "Join", new_occupant_path(:event_id => event)
          - if @user.role == "Parent"
            = link_to "Join", new_driver_path(:event_id => event)

  %span.annotation
    R = Remark
    T = Tentative
%br/
= link_to 'New Event', new_event_path 
|
= link_to 'Logout', logout_path
