%h1= "Event : #{@event.title}"
- if @event.errors.any?
  #error_explanation
  %h2
    = pluralize(@event.errors.count, "error")
    prohibited this event from being saved:

  %ul
    - @event.errors.full_messages.each do |msg|
      %li= msg

%dl.schoolrun-list
  %dt Description
  %dd= @event.description
  %dt To/From
  %dd= @event.to_from
  %dt Event date
  %dd= @event.event_date
  %dt Event time
  %dd= @event.event_time.strftime("%H:%M")
  %dt Location
  %dd= @event.location
  %dt Status
  %dd= @event.status

-#.clear
%h3 Students:
.show-details
  %table
    =render :partial => "person",
      :collection => @event.occupants || "No students"
  - if @user.role == "Student"
    = link_to "Request Pickup", new_occupant_path(:event_id => @event.id)


%h3 Drivers:
.show-details
  %table
    =render :partial => "person",
      :collection => @event.drivers || "No drivers"
  - if @user.role == "Parent"
    = link_to "Nominate as Driver", new_driver_path(:event_id => @event.id)

%br/
%br/
= link_to 'Edit Event', edit_event_path(@event)
|
= link_to 'Destroy Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }
|
= link_to 'Back', events_path
