%h1= "Event : #{@event.title}"
- if @event.errors.any?
  #error_explanation
  %h2
    = pluralize(@event.errors.count, "error")
    prohibited this event from being saved:

  %ul
    - @event.errors.full_messages.each do |msg|
      %li= msg

%dl.schoolrun-list
  %dt Description
  %dd= @event.description
  %dt Event date
  %dd= @event.event_date.strftime("%a %d-%m-%Y")
  %dt Pickup/Dropoff time
  %dd
    - if @event.event_time
      = @event.event_time.strftime("%H:%M")
    - else
      %span.annotation unknown time
  %dt To/From
  %dd= @event.to_from
  %dt Location
  %dd= @event.location

%h3 Passengers and Drivers:
.snot
  %table.list-table
    -if @event.occupants.exists? || @event.drivers.exists?
      %tr.list-header
        %th.list-cell Role
        %th.list-cell Avatar
        %th.list-cell Name
        %th.list-cell Status
        %th.list-cell Remarks
        %th.list-cell Updated
        %th.list-cell Action

    =render :partial => "traveller",
      :collection => @event.occupants || "No students"
    =render :partial => "traveller",
      :collection => @event.drivers || "No drivers"

  - if @current_user.role == "Student" &&  |
       !@current_user.events.exists?(@event.id)  |
    = link_to "Request Pickup", new_occupant_path(:event_id => @event.id)

  - if @current_user.role == "Parent"
    - @current_user.children.each do |child|
      - if !child.events.exists?(@event.id)
        = link_to "Request Pickup for #{child.first_name}",
          new_occupant_path(:event_id => @event.id, :user_id => child.id)

  - if @current_user.role == "Parent"
    - if @event.drivers.exists?
      = link_to "Nominate as Additional Driver",
        new_driver_path(:event_id => @event.id)
    - else
      = link_to "Nominate as Driver", new_driver_path(:event_id => @event.id)

%h3 Comments:
.comment-box
  - unless @event.event_comments.empty?
    .dl
      = render :partial => "comment",
        :collection => @event.event_comments.sort_by(&:updated_at).reverse

  = form_for([@event, @event.event_comments.new]) do |f|
    .field
      = f.label :comment, "Add a comment:"
      %br/
      = f.text_area :comment, :size => "45x2"
      = f.submit "Post"

%br/
= link_to 'Edit Event', edit_event_path(@event)
|
= link_to 'Destroy Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }
|
= link_to 'Back to Events Listing', events_path
