- cache "event_comments-#{@event.id}", :expires_in => 4.hours do
  .comment-overlay
    %h3= @event.title
    %dl
      - @event_comments.sort_by(&:updated_at).reverse.each do |c|
        %dt
          = "at #{c.updated_at.strftime("%k:%M on %d-%b")},
            #{author_by_name(c.comment_by)} said:"
        %dd
          :textile
            "#{c.comment}"
