%h2 Edit Nomination as Driver
%p
  for #{@event.event_date}
  -if @event.event_time
    at #{@event.event_time.strftime("%H:%M")}
  \::
  %b= @event.title 

.schoolrun_form
  %fieldset
    %legend Please update details 
    = form_for(@driver) do |f|
      - if @driver.errors.any?
        #error_explanation
          %h2
            = pluralize(@driver.errors.count, "error")
            prohibited this driver from being saved:

          %ul
            - @driver.errors.full_messages.each do |msg|
              %li= msg

      = f.hidden_field :event_id
      = f.hidden_field :user_id

      .field
        = f.label :status
        = f.select :status, Driver::STATUS_TYPES
      .field
        = f.label :remarks
        = f.text_area :remarks, :rows => 2
      .actions
        = f.submit "Save"

= link_to 'Show', @driver
|
= link_to 'Back', event_path(@driver.event.id)

