!!!
%html
  %head
    %title Schoolrun: #{controller.controller_name}.#{controller.action_name}
    = stylesheet_link_tag "application", :media => "all" unless mobile_device?
    = stylesheet_link_tag "mobile" if mobile_device?
    = javascript_include_tag "application"
    = csrf_meta_tags
    - if mobile_device?
      %meta{'name' => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes"}/ 

  %body
    #banner.container
      = image_tag "heading.png", :height => 120 unless mobile_device?
      = @page_title
      School Run
      -#
        %pre
          = debug(session)


    #columns.container
      #side
        %ul
          - if @is_admin
            %li= link_to "Admin", admin_url
            %li= link_to "Users", users_url
            %li= link_to "Events", events_url
          - else
            %li= link_to "Events", events_url
            %li= link_to "My Details", user_url(@current_user) if @current_user
            %li= link_to "About/Help", about_url
          %li= link_to "Logout", logout_url

      #main
        - if notice
          %p#notice= notice
        - if @current_user
          #user-banner
            #{@current_user.first_name} #{@current_user.surname} logged in

        = yield

    #footer
      -if mobile_device?
        = link_to "Full Site", :mobile => 0
      - else
        = link_to "Mobile Site", :mobile => 1
      %p SchoolRun Copyright &copy;2012 Duncan Snelling


